
/* Inicio */
.img-centralAprendiz {
    top: 3.5vh;
    left: 0;
    height: 24vh; /* Mantén la altura para pantallas más grandes */
}

.titulo-sesAprendiz {
    font-size: 2rem;
    margin-bottom: 2rem; 
    margin-top: 15vh;
    top: 1vh;
  }

  .error-aprendiz {
    top: -3vh;
}

.Contenedor-sesionAprendiz {
    top: -5vh;
    margin-top: 25px;
    height: 32vh;
    width: 40vh;
  }

  .contenedor-sesion::before {
    height: 45px;
  }

  .texto-SesionAprendiz {
    font-size: 1.5rem;
    top: 4vh; 
  }

  .boton-SesionAprendiz {
    top: 9vh;
    width: 30vh; /* Ajusta este valor para hacer los botones más largos */
  }

  .input-SesionAprendiz {
    top: 6vh;
    width: 60%;
    font-size: 1rem;
    padding: 15px;
  }

  /* Calendario */

  .img-centralCalAprendiz {
    top: 4vh;
    left: 0;
    height: 18.5vh; /* Mantén la altura para pantallas más grandes */
  }

  .boton-adelanteAprendiz{
    left: 36%; /* Posición al lado derecho */
    top: 21vh;
    margin: -22px;
    transform: translateY(-50%);
  }


  .titulo-calAprendiz {
    font-size: 1.7rem;
    margin: 45px;
    top: 2vh;
  }

  .numero-ficha {
    font-size: 1.2rem;
    position: relative;
    top: -2vh;
    z-index: 10;
  }

  .boton-calAprendiz{
      width: 100%;
      height: 100%;
      padding: 3.5vh;
      font-size: 1.2rem;
  }



  @media (max-width: 1086px) {
    /* Calendario */

    .img-centralCalAprendiz {
      top: 3vh;
      left: 0;
      height: 17vh; /* Mantén la altura para pantallas más grandes */
    }

    .boton-adelanteAprendiz{
        top: 14vh;
        padding: 3px 13px;
        left: 35%;
    }

    .titulo-calAprendiz {
      margin: 0;
      top: 5vh;
      font-size: 1.4rem;  
    }

    .numero-ficha{
      top: 2vh;
      font-size: 0.9rem;
      margin: 20px;
    }

    .texto-calendario {
      font-size: 0.8rem;
    }

    .boton-calAprendiz{
      padding: 3.5vh;
      font-size: 0.8rem;
    }


    /* Inicio */
    .img-centralAprendiz {
      height: 20vh;
    }

    .titulo-sesAprendiz{
      font-size: 1.5rem;
      top: -6vh;
    }

    .error-aprendiz {
      font-size: 0.5rem;
      top: -12vh;
    }

    .Contenedor-sesionAprendiz {
      margin-top: -40px;
      height: 42vh;
      width: 45vh;
    }

    .contenedor-sesion::before {
      height: 40px;
    }

    .texto-SesionAprendiz{
      font-size: 0.9rem;
      top: 7vh;
    }

    .input-SesionAprendiz{
      width: 60%;
      top: 8vh;
      font-size: 0.8rem;
    }

    .boton-SesionAprendiz{
      font-size: 0.8rem;
      width: 25vh;
      top: 13vh;
    }

  }