
/* Inicio */
.img-centralSesionTruc {
    top: 4vh;
    left: 0;
    height: 24vh; /* Mantén la altura para pantallas más grandes */
  }

  .titulo-SesionTruc {
    font-size: 2rem;
    margin-bottom: 2rem; 
    margin-top: 15vh;
    top: 3vh;
  }

  .error-instructor {
    font-size: 1rem;
    margin: 3px;
    top: 1vh;
  }

  .contenedor-sesionTruc {
    top: 0vh;
    margin-top: 25px;
    height: 35vh;
    width: 40vh;
  }

  .texto-SesionTruc {
    top: 5vh;
    font-size: 1.8rem;
  }

  
  .input-SesionTruc {
    top: 4vh;
    padding: 10px;
    width: 60%;
    font-size: 1rem;
  }

  .boton-SesionTruc {
    top: 6vh; /* Separación desde el borde superior */
    width: 30vh; /* Ajusta este valor para hacer los botones más largos */
  }


  /* Calendario */

  .img-centralTruc {
    top: 4vh;
    left: 0;
    height: 18.5vh; /* Mantén la altura para pantallas más grandes */
  }

  .degradado-grisCalInstructor{
    width: 90%;
    height: 105%;
  }

  .boton-adelanteInstructor {
    left: 36%; /* Posición al lado derecho */
    top: 22vh;
    margin: -22px;
    transform: translateY(-50%);
  }
  
  .boton-atrasInstructor {
    left: 61vh; /* Posición al lado izquierdo */
    top: 21.65vh;
    margin: -25px;
    transform: translateY(-50%);
  }


  .titulo-calInstructor {
    position: relative;
    font-size: 1.7rem;
    margin: 45px;
    top: 8vh;
  }

  .horario-fecha {
    font-size: 1.2rem;
    position: relative;
    top: 1vh;
    margin: 30px;
    z-index: 10;
  }

  .boton-calInstructor{
    width: 100%;
    height: 100%;
    padding: 2.5vh;
    font-size: 1.2rem;
  }


  @media (max-width: 1086px) {

    .img-centralSesionTruc{
        height: 20vh;
    }

    .titulo-SesionTruc{
        font-size: 1.4rem;
        top: -4vh;
    }

    .error-instructor{
        font-size: 0.5rem;
        top: -10vh;
    }

    .contenedor-sesionTruc{
        top: -10vh;
        margin-top: 10px;
        height: 40vh;
        width: 40vh;
    }

    .contenedor-sesion::before {
        height: 40px;
      }

    .texto-SesionTruc{
        font-size: 1rem;
    }

    .input-SesionTruc{
      width: 60%;
      height: 10px;
      top: 4vh;
      font-size: 0.7rem;
      padding: 9px;
    }

    .boton-SesionTruc{
        font-size: 0.8rem;
        padding: 7px;
        top: 7vh;
    }

    .boton-salidaSesionIns {
      padding: 7px;
    font-size: 0.9rem;
    }

    /* Calendario */

    .img-centralTruc {
        height: 17vh; /* Mantén la altura para pantallas más grandes */
      }

      .boton-adelanteInstructor{
        top: 23vh;
        padding: 3px 13px;
        left: 35%;
      }

      .boton-atrasInstructor{
        top: 23.5vh;
        padding: 3px 13px;
        left: 28%;
        margin: -16.5px;
      }

      .titulo-calInstructor{
        margin: 0;
        font-size: 1.3rem;
        top: 14vh;
      }

      .horario-fecha{
        top: 6vh;
       font-size: 0.8rem;
       margin: 48px;
      }

      .texto-calInstructor {
        font-size: 0.8rem;
      }
  
      .boton-calInstructor{
        font-size: 0.8rem;
      }

     .boton-salidaIns{
        padding: 7px;
        font-size: 0.9rem;
        right: 5.5vh;
      }

  }

  @media (max-width: 980px) {

    .seccion-centralCalTruc{
      height: 105%;
    }

    .titulo-calInstructor{
        font-size: 1.2rem;
        top: 4vh;
    }

    .horario-fecha{
      top: 1vh;
      font-size: 0.7rem;
      margin: 20px;
    }

    .boton-adelanteInstructor {
      position: absolute;
      top: 31.5vh; 
      left: 86.5%; 
      transform: translateX(-50%);
      font-size: 20px;
    }

    .boton-atrasInstructor {
        position: absolute;
        top: 31.5vh; /* Ajusta la posición vertical */
        left: 80%; /* Centra el botón horizontalmente */
        transform: translateX(-50%); /* Ajuste para que esté perfectamente centrado */
        font-size: 20px;
        margin: -22.5px;
      }

      .boton-calInstructor{
        font-size: 0.7rem;
      }

      .texto-calInstructor{
        font-size: 0.6rem;
      }

    .boton-salidaIns, .boton-salidaSesionIns {
      width: 40%; /* El botón será más ancho en pantallas pequeñas */
      top: 91vh; /* Ajusta la posición vertical */
      left: 50%; /* Centra el botón horizontalmente */
      height: 5.5vh;
      font-size: 1rem;
    }
    
    .boton-salidaIns{
      top: 100vh; /* Ajusta la posición vertical */
    }


  }

  @media (max-width: 640px) {


    .seccion-centralCalTruc{
      height: 108%;
    }

    .degradado-grisCalInstructor{
        width: 85%;
      }
    
      .boton-atrasInstructor {
        top: 31vh;
        left: 77%;
       }
    
      .boton-adelanteInstructor {
        top: 31vh;
       }

       .titulo-calInstructor{
        top: 7vh;
       }

       .horario-fecha{
        top: 3vh;
        margin: 26.5px;
       }
       
       .boton-calInstructor {
        padding: 16px;
        height: 8vh;
        font-size: 0.6rem;
      }
       
       .texto-calInstructor{
        font-size: 0.7rem;
       }

       .boton-salidaIns{
        top: 106.8vh;
       }
  
       

  }

  @media (max-width: 500px) {

    .degradado-grisCalInstructor{
        width: 83%;
    }

    .img-centralSesionTruc, .img-centralTruc{
        height: 16.5vh;
      }

      .boton-adelanteInstructor{
        font-size: 1rem;
        top: 31.5vh;
        left: 91%;
      }

      .boton-adelanteInstructor2{
        top: 31.5vh;
      }
      
      .boton-atrasInstructor{
        font-size: 1rem;
        top: 30.9vh;
        left: 80%;
        margin: -18px;
      }

      .boton-calInstructor {
        padding: 13px;
        height: 8vh;
      }

      .texto-calInstructor{
        font-size: 0.6rem;
      }

      .boton-salidaIns{
        top: 106.2vh;
      }

      /* Inicio */

      .titulo-SesionTruc {
        font-size: 1.2rem;
        top: -8vh;
      }

      .error-instructor{
        top: -14vh;
        font-size: 0.5rem;
      }

      .contenedor-sesionTruc {
        top: -15vh;
      }

      .boton-salidaSesionIns{
        top: 85vh;
        font-size: 0.8rem;
      }

  }

  @media (max-width: 420px) {

    .img-centralSesionTruc, .img-centralTruc{
        height: 13.5vh;
    }

    .seccion-centralCalTruc{
      height: 109%;
    }

    .degradado-grisCalInstructor{
      height: 130%;
    }
    
    .boton-adelanteInstructor{
      top: 29vh;
    }

    .boton-atrasInstructor{
      top: 23vh;
      left: 90%;
    }

    .titulo-calInstructor{
      top: 2vh;
    }

    .horario-fecha{
      top: 1vh;
      margin: 17.5px;
    }

    .boton-calInstructor{
        padding: 8px;
        height: 9.5vh;
    }

    .boton-salidaIns{
      top: 117vh;
      width: 50%;
    }

    /* Inicio */

    .titulo-SesionTruc{
      top: -12vh;
      font-size: 1.2rem;
    }

    .error-instructor{
        top: -18vh;
        font-size: 0.55rem;
    }

    .contenedor-sesionTruc {
      width: 35vh;
      height: 38vh;
      top: -16vh;
    }

    .texto-SesionTruc{
        font-size: 0.8rem;
        top: 6vh;
    }

    .boton-SesionTruc{
        font-size: 0.6rem;
        width: 20vh;
    }

    .boton-salidaSesionIns{
        top: 80vh;
    }

  }

  @media (max-width: 370px) {

    .img-centralSesionTruc, .img-centralTruc{
      height: 10vh;
    }

    .degradado-grisCalInstructor{
      width: 78%;
    }

    .boton-adelanteInstructor {
      left: 90%;
    }

    .boton-atrasInstructor{
      left: 89%;
    }

    .boton-calInstructor{
      font-size: 0.45rem;
      height: 9vh;
    }

    .texto-calInstructor{
      font-size:  0.5rem;
    }

    .boton-salidaIns{
      top: 112vh;
    }

  }
